$primaryGray: #202020;
$secondaryBlack: #121212;
$white: #fff;
$black: #000;
$red: #ed3024;
$blue: #3137c9;

$z-index-sidebar: 1000;
$z-index-header: 1000;
$z-index-modal: 1010;
$sidebar-width: 300px;

$tablet: 991px;
$mobile: 575px;
