<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__credits">
        <div class="footer__copyright">
          &copy; 2021 Designer - Free Template
        </div>
        <div class="footer__socials">
          <a href="#" target="_blank">
            <img
              src="assets/images/footer-socials/behance.svg"
              width="24"
              height="22"
              alt=""
            />
          </a>
          <a href="#" target="_blank">
            <img
              src="assets/images/footer-socials/dribbble.svg"
              width="18"
              height="22"
              alt=""
            />
          </a>
          <a href="#" target="_blank">
            <img
              src="assets/images/footer-socials/linkedin.svg"
              width="18"
              height="22"
              alt=""
            />
          </a>
          <a href="#" target="_blank">
            <img
              src="assets/images/footer-socials/facebook.svg"
              width="18"
              height="21"
              alt=""
            />
          </a>
          <a href="#" target="_blank">
            <img
              src="assets/images/footer-socials/instagram.svg"
              width="18"
              height="22"
              alt=""
            />
          </a>
          <a href="#" target="_blank">
            <img
              src="assets/images/footer-socials/twitter.svg"
              width="20"
              height="22"
              alt=""
            />
          </a>
        </div>
      </div>
      <nav class="footer__nav">
        <a href="#" class="footer__nav-link">Work</a>
        <a href="#" class="footer__nav-link">About Me</a>
        <a href="#" class="footer__nav-link">Blog</a>
        <a href="#" class="footer__nav-link">Contact</a>
        <a href="#" class="footer__nav-link btn">HIRE ME</a>
      </nav>
    </div>
  </div>
</footer>
