<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="user">
        <div class="user__avatar">
          <img src="https://place-hold.it/57x57" alt="avatar" />
        </div>
        <div class="user__content">
          <div class="user__name">
            Lewis<br />
            Nathaniel
          </div>
          <div class="user__prof">UI & UX Designer</div>
        </div>
      </div>
      <nav class="nav">
        <a href="#" class="nav__link">WORK</a>
        <a href="#" class="nav__link">ABOUT ME</a>
        <a href="#" class="nav__link">BLOG</a>
        <a href="#" class="nav__link">CONTACT</a>
        <a href="#" class="nav__link nav__link--btn">HIRE ME</a>
      </nav>
    </div>
  </div>
</header>
