<div class="modal" style="display: none;">
  <div class="modal__wrapper">
    <button class="modal__close">
      <img src="assets/images/modal-close.svg" alt="image close">
    </button>
    <div class="modal-project">
      <div class="modal-project__preview">
        <img class="modal-project__photo" src="https://place-hold.it/790x780" alt="image">
      </div>
      <div class="modal-project__content">
        <div class="modal-project__header">
          <h3 class="modal-project__title">
            PROJECT TITLE
          </h3>
          <div class="modal-project__info">
            CATEGOTY | 2021
          </div>
        </div>
        <div class="modal-project__client">
          <div>Client:</div>
          <div>Abba Web Agency</div>
        </div> 
        <div class="modal-project__text">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, necessitatibus doloremque quaerat id doloribus maiores in modi? Vitae illum ipsum eum ex animi architecto similique natus, at recusandae veritatis exercitationem.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, necessitatibus doloremque quaerat id doloribus maiores in modi? Vitae illum ipsum eum ex animi architecto similique natus, at recusandae veritatis exercitationem.</p>
          
        </div>
        <div class="modal-project__footer">
          <button class="modal-project__btn modal-project__btn--prev">
            <img height="18" src="assets/images/prev.svg" alt="prev">
            PREVIOUS</button>
          <button class="modal-project__btn modal-project__btn--next">
            NEXT
            <img height="18" src="assets/images/next.svg" alt="next">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal">
  <div class="modal__wrapper">
    <button class="modal__close">
      <img src="assets/images/modal-close.svg" alt="image close">
    </button>
    <div class="modal__content">
      <h3 class="modal__title">RESUME</h3>
      <a class="btn btn--thin" href="#">DOWNLOAD PDF</a>
      <a class="btn btn--thin" href="#">PRINT</a>
    </div>
    <div class="timeline">
      <div class="timeline__column">
        <h4 class="timeline__title">EXPERIENCE</h4>
        <div class="timeline__item">
          <time class="timeline__date" datetime="06-22-2021">2021 - <b>Present</b></time>
          <h5 class="timeline__subtitle">Freelancer</h5>
          <div class="timeline__position">Art Director</div>
          <div class="timeline__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</div>
        </div>

        <div class="timeline__item">
          <time class="timeline__date" datetime="06-22-2021">2020 - 2021</time>
          <h5 class="timeline__subtitle">The Best Agency</h5>
          <div class="timeline__position">Art Director</div>
          <div class="timeline__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</div>
        </div>

        <div class="timeline__item">
          <time class="timeline__date" datetime="06-22-2021">2021 - <b>Present</b></time>
          <h5 class="timeline__subtitle">Better Agency</h5>
          <div class="timeline__position">Senior UI/UX Designer</div>
          <div class="timeline__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</div>
        </div>

        <div class="timeline__item">
          <time class="timeline__date" datetime="06-22-2021">2021 - <b>Present</b></time>
          <h5 class="timeline__subtitle">Good Agency</h5>
          <div class="timeline__position">UI/UX Designer</div>
          <div class="timeline__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</div>
        </div>
        
      </div>
      <div class="timeline__column">
        <h4 class="timeline__title">EDUCATION</h4>
        <div class="timeline__item">
          <time class="timeline__date" datetime="06-22-2021">2005-2010</time>
          <h5 class="timeline__subtitle">UI/UX Design</h5>
          <div class="timeline__position">LA University, USA</div>
        </div>
        <div class="timeline__item">
          <time class="timeline__date" datetime="06-22-2021">2002-2005</time>
          <h5 class="timeline__subtitle">UI/UX Design</h5>
          <div class="timeline__position">LA Collage of Art, USA</div>
        </div>

        <h4 class="timeline__title">SKILLS</h4>
        <div class="timeline__skills">
          <div class="timeline__skills-left">
            <div class="timeline__skills-title">
              UI/UX Design
            </div>
          </div>
          <div class="timeline__skills-right">
            <div class="timeline__skills-progress">
              <div class="timeline__skills-procent" style="width: 80%;"></div>
            </div>
          </div>
        </div>

        <div class="timeline__skills">
          <div class="timeline__skills-left">
            <div class="timeline__skills-title">
              Illustrator
            </div>
          </div>
          <div class="timeline__skills-right">
            <div class="timeline__skills-progress">
              <div class="timeline__skills-procent" style="width: 85%;"></div>
            </div>
          </div>
        </div>

        <div class="timeline__skills">
          <div class="timeline__skills-left">
            <div class="timeline__skills-title">
              Photoshop
            </div>
          </div>
          <div class="timeline__skills-right">
            <div class="timeline__skills-progress">
              <div class="timeline__skills-procent" style="width: 80%;"></div>
            </div>
          </div>
        </div>

        <div class="timeline__skills">
          <div class="timeline__skills-left">
            <div class="timeline__skills-title">
              Sketch
            </div>
          </div>
          <div class="timeline__skills-right">
            <div class="timeline__skills-progress">
              <div class="timeline__skills-procent" style="width: 70%;"></div>
            </div>
          </div>
        </div>

        <h4 class="timeline__title timeline__title--awards">AWARDS</h4>
        <div class="timeline__item">
          <time class="timeline__date" datetime="06-22-2021">2005-2010</time>
          <h5 class="timeline__subtitle">UI/UX Design</h5>
          <div class="timeline__position">LA Collage of Art, USA</div>
          <div class="timeline__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</div>
        </div>

        <div class="timeline__item">
          <time class="timeline__date" datetime="06-22-2021">2002-2005</time>
          <h5 class="timeline__subtitle">UI/UX Design</h5>
          <div class="timeline__position">LA Schooll of Art, USA</div>
          <div class="timeline__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis felis non tempor ullamcorper. Pellentesque cursus lectus a pulvinar dapibus. Nullam blandit aliquam ligula ut condimentum.</div>
        </div>
        
      </div>
    </div>
    <div class="btn--wrapper-center">
      <a href="#" class="btn btn--center">Hire Me</a>
    </div>
  </div>
</div>
