<div class="modal">
  <div class="modal__wrapper">
    <button class="modal__close">
      <img src="assets/images/modal-close.svg" alt="image close">
    </button>
    <div class="modal-project">
      <div class="modal-project__preview">
        <img class="modal-project__photo" src="https://place-hold.it/790x780" alt="image">
      </div>
      <div class="modal-project__content">
        <div class="modal-project__header">
          <h3 class="modal-project__title">
            PROJECT TITLE
          </h3>
          <div class="modal-project__info">
            CATEGOTY | 2021
          </div>
        </div>
        <div class="modal-project__client">
          <div>Client:</div>
          <div>Abba Web Agency</div>
        </div> 
        <div class="modal-project__text">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, necessitatibus doloremque quaerat id doloribus maiores in modi? Vitae illum ipsum eum ex animi architecto similique natus, at recusandae veritatis exercitationem.</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima, necessitatibus doloremque quaerat id doloribus maiores in modi? Vitae illum ipsum eum ex animi architecto similique natus, at recusandae veritatis exercitationem.</p>
          
        </div>
        <div class="modal-project__footer">
          <button class="modal-project__btn modal-project__btn--prev">
            <img height="18" src="assets/images/prev.svg" alt="prev">
            PREVIOUS</button>
          <button class="modal-project__btn modal-project__btn--next">
            NEXT
            <img height="18" src="assets/images/next.svg" alt="next">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
