<div class="modal" id="contactModal">
  <div class="modal__content modal__content--contact">
    <button class="modal__close">
      <img src="assets/images/close.svg" alt="close" />
    </button>

    <form action="/" class="form" method="POST">
      <div class="form__group form__group--md">
        <input
          type="text"
          class="form__control"
          placeholder="Имя"
          tabindex="1"
        />
        <span class="form__line"></span>
      </div>

      <div class="form__group form__group--md">
        <input type=email" class="form__control" placeholder="Ваш Email"
        tabindex="2">
        <span class="form__line"></span>
      </div>

      <div class="form__group form__group--md">
        <textarea
          placeholder="Текст сообщения"
          name=""
          class="form__control form__control--textarea"
          tabindex="3"
        ></textarea>
        <span class="form__line"></span>
      </div>

      <div class="form__footer">
        <div class="form__group form__group--md">
          <button
            type="submit"
            class="btn btn--blue btn--rounded btn--small"
            tabindex="4"
          >
            Отправить
          </button>
        </div>
      </div>
    </form>

    <ul class="modal__footer">
      <li>
        Email:
        <a href="mailto:stivem666@gmail.com">stivem666@gmail.com</a>
      </li>
      <li>
        Phone:
        <a href="tel:+375298594443">+375 29 859-44-43</a>
      </li>
    </ul>
  </div>
</div>
