<header class="header">
  <div class="header__left">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="index.html" class="nav__link">Главная</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link nav__link--subnav">Статьи</a>

          <ul class="subnav">
            <li>
              <a href="#" class="subnav__link">Создание сайтов</a>
            </li>
            <li>
              <a href="#" class="subnav__link">Интернет-маркетинг</a>
            </li>
            <li>
              <a href="#" class="subnav__link">Продвижение видео</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="text.html" class="nav__link">Обо мне</a>
        </li>
        <li class="nav__item">
          <a href="text.html" class="nav__link">Реклама</a>
        </li>
      </ul>
    </nav>

    <button id="burger" class="burger" type="button">
      <span>Навигация</span>
    </button>
  </div>

  <div class="header__right">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="profile.html" class="nav__link">Профиль</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Выйти</a>
        </li>
      </ul>
    </nav>

    <form class="search" action="search.html" method="GET">
      <input class="search__input" type="text" placeholder="Поиск по блогу" />
    </form>
  </div>
</header>
