<div class="modal" id="shareModal">
  <div class="modal__content">
    <button class="modal__close">
      <img src="assets/images/close.svg" alt="close" />
    </button>
    <ul class="social modal-social">
      <li class="social__item">
        <a class="social__link" href="#">
          <img src="assets/images/share/facebook.svg" alt="facebook" />
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <img src="assets/images/share/twitter.svg" alt="twitter" />
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <img src="assets/images/share/vk-share.svg" alt="vk" />
        </a>
      </li>
      <li class="social__item">
        <a class="social__link" href="#">
          <img src="assets/images/share/copy.svg" alt="copy" />
        </a>
      </li>
    </ul>
  </div>
</div>
