@import "vars";
@import "mixins";
@import "vendors/reset";

html {
    font-size: 62.5%;
}

body {
    background-color: $white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    color: $black;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

p {
    margin: 0 0 1rem;
}

a {
    text-decoration: none;
    // &:hover {
    //     text-decoration: underline;
    // }
}

/* Blocks */
@import 'blocks/container';
@import 'blocks/btn';
@import 'blocks/header';
@import 'blocks/intro';
@import 'blocks/works';
@import 'blocks/about';
@import 'blocks/reviews';
@import 'blocks/footer';